:root {
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    background-color: #082631;
  }
  .body{
    background-color: #082631;
  }  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .container > * {
    width: 90%;
  }
  
  .flex-column {
    display: flex;
    flex-flow: column;
  }
  
  h1 {
    font-size: 5rem;
    color:white;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  

  .btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: #0175B9;
    color: white;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
  }
  
  .btn:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  transition: transform 150ms;
}
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  