:root{
    --color-1: black;
    --color-2:#4ebb0a;
    --color-3:white;
}
.container-fluid{
    height: 100vh;
    width:100vw; 
}
.navColor{
    background-color : #000000 !important;
}
.navbar-dark .navbar-text.navName {
    color: white;
    font-weight: 400;
}

.icons:hover{
    color: #0175B9;
    font-size: 110%;
    transition-duration: 10ms;
}
.icons {
  color: white;
  position: relative;
  display : inline-block;

}

.icons .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.icons:hover .tooltiptext {
  visibility: visible;

}
.header{
    height: 20vh;;
    font-size: 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer,.servicer,.report{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customerbtn,.reportbtn,.servicerbtn,.userbtn{
    border-radius: 20px;
    width: 30vw;
    height: 8vh;   
}

/* Customer Login page */
.headername{
    height: 10vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    color: var(--color-1);
    height: 2px;
}
.newUser{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{

}
/* registration page */
.username,.address,.mobileNo,.register{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.registerbtn{
    background-color: var(--color-2);
    border-radius: 20px;
    width: 30vw;
    height: 8vh;
    font-size:30px;
    color: var(--color-3);
}